.contact__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 25px;
  width: 450px;
  background-color: rgba(156, 131, 47, 0.9);
  box-shadow: 0px 5px 11px 8px rgba(0, 0, 0, 0.62);
}

.label__form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
}

.contact__input {
  display: block;
  width: 350px;
  height: 35px;
  font-size: 20px;
  border-radius: 4px;
}

.button__submit {
  width: 200px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  background-color: rgb(39, 120, 243);
}

.button__submit:hover {
  background-color: rgb(39, 47, 140);
}
